@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.card-front {
  position: absolute;
  top: 8.4rem;
  left: -6rem;
  padding: 2.1rem;
  width: 27.5rem;
  height: 15rem;
  color: v.$white;
  background-image: url(../img/card-logo.svg), url(../img/bg-card-front.webp);
  background-repeat: no-repeat, no-repeat;
  background-size: 50px, contain;
  background-position: 2.1rem 2.1rem, 0 0;
  box-shadow: 0 28px 25px -15px v.$light-grayish-violet;

  &__card-number {
    display: block;
    margin: 5.5rem auto 1rem;
    font-size: 1.7rem;

    @include m.breakpoint-lg() {
      margin: 9.5rem auto 2rem;
      font-size: 3rem;
    }
  }

  &__name-exp-container {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    text-transform: uppercase;

    @include m.breakpoint-lg() {
      font-size: 1.3rem;
    }
  }

  @include m.breakpoint-lg() {
    position: relative;
    top: -4rem;
    width: 44.7rem;
    height: 24.5rem;
    padding: 3.5rem;
    box-shadow: initial;
    background-position: 3.5rem 3.5rem, 0 0;
    background-size: 8.4rem, contain;
  }
}
