@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.card-back {
  width: 27.5rem;
  height: 15rem;
  background-image: url(../img/bg-card-back.webp);
  background-repeat: no-repeat;
  background-size: contain;

  &__cvc {
    position: absolute;
    top: 6.6rem;
    right: 3.7rem;
    font-size: 1rem;
    color: v.$white;

    @include m.breakpoint-lg() {
      top: 10.6rem;
      right: 6rem;
      font-size: 1.8rem;
    }
  }

  @include m.breakpoint-lg() {
    position: relative;
    width: 44.7rem;
    height: 24.5rem;
  }
}
