@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.card-form {
  margin: 0 2.5rem 4rem;

  &__two-columns {
    @include m.breakpoint-sm-360() {
      display: flex;
    }
  }

  &__group {
    position: relative;
    margin-bottom: 3rem;

    @include m.breakpoint-lg() {
      margin-bottom: 4rem;
    }
  }

  &__group-cvc {
    flex: 1;
    margin-bottom: 3rem;

    @include m.breakpoint-lg() {
      margin-bottom: 4rem;
    }
  }

  &__label {
    display: block;
    text-transform: uppercase;
  }

  &__label,
  &__exp-date-legend {
    font-size: 1.3rem;
    margin-bottom: 0.6rem;
  }

  &__input {
    padding: 1rem 1.8rem;
    width: 100%;
    border: 1px solid v.$light-grayish-violet;
    border-radius: 0.8rem;

    &--invalid {
      border-color: v.$form-input-error-color;
    }

    &:focus {
      outline: none;
      background: linear-gradient(v.$white, v.$white) padding-box,
        linear-gradient(
            to right,
            v.$linear-gradient-start,
            v.$linear-gradient-end
          )
          border-box;
      border-radius: 0.8rem;
      border: 1px solid transparent;
    }

    &::placeholder {
      font-size: 1.4rem;
      color: v.$form-placeholder-text-color;

      @include m.breakpoint-sm-360() {
        font-size: initial;
      }

      @include m.breakpoint-lg() {
        font-size: 1.8rem;
      }
    }

    @include m.breakpoint-lg() {
      padding: 1.5rem 2rem;
    }
  }

  &__error {
    position: absolute;
    bottom: -2rem;
    display: none;
    color: v.$form-input-error-color;
    font-size: 1.1rem;
    letter-spacing: initial;

    @include m.breakpoint-lg() {
      bottom: -2.5rem;
    }
  }

  &__error--visible {
    display: block;
  }

  &__exp-date {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    margin-bottom: 2rem;
    padding: 0;
    border: none;

    @include m.breakpoint-sm-360() {
      display: initial;
      justify-content: initial;
      margin-bottom: initial;
      flex: 1;
    }
  }

  &__exp-date-inputs {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;

    @include m.breakpoint-sm-360() {
      display: block;
      justify-content: initial;
      margin-bottom: 0;
    }
  }

  &__exp-date-legend {
    text-transform: uppercase;
  }

  &__input-exp-mm,
  &__input-exp-yy {
    width: 45%;
  }

  @include m.breakpoint-sm-400() {
    margin: 0 auto 4rem;
    max-width: 38rem;
  }

  @include m.breakpoint-lg() {
    margin: 0 2.5rem 4rem 10rem;
    width: 40rem;
  }
}
