// Import variables
@use '../abstracts/variables' as v;

// Import mixins
@use '../abstracts/mixins' as m;

@use 'typography.scss' as t;

/* Set core root defaults */
html {
  font-size: 10px;

  &:focus-within {
    scroll-behavior: smooth;
  }
}

/* Set core body defaults */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-rendering: optimizeSpeed;
  font-family: 'Space Grotesk', sans-serif;
  font-size: t.$body-copy;
  line-height: 1.5;
  letter-spacing: 2px;
}

main {
  display: flex;
  flex: 1;
  flex-direction: column;

  @include m.breakpoint-lg() {
    flex-direction: initial;
  }
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
}

/* Disable all animations, transitions and smooth scroll for people that prefer not to see them*/
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.bg {
  @include m.breakpoint-sm-400() {
    display: flex;
    justify-content: center;
  }

  @include m.breakpoint-lg() {
    display: initial;
    justify-content: initial;
  }
}

.footer {
  padding: 0 1.28rem 1.28rem;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1.2rem;
  text-align: center;
  letter-spacing: 1px;

  &__link {
    color: v.$footer-link-color;

    &:visited {
      color: v.$footer-link-visited-color;
    }

    &:hover {
      color: v.$footer-link-hover-color;
    }

    &:active {
      color: v.$footer-link-active-color;
    }

    &:focus-visible {
      outline: 2px solid v.$footer-link-focus-visible-color;
      border-radius: 2px;
    }
  }

  @include m.breakpoint-lg() {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

// .noscript {
//   padding: 2rem 1rem;
//   font-size: 2rem;
//   color: v.$light-cyan;
//   text-align: center;
//   border-bottom: 1px solid;

//   @include m.breakpoint-md() {
//     padding: 2rem 0;
//   }
// }

// todo: add classes below in another file
.left-column,
.right-column {
  @include m.breakpoint-lg() {
    flex: 1;
  }
}

.left-column {
  margin-bottom: 8rem;
  height: 24rem;
  background-image: url(../img/bg-main-mobile.webp);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;

  @include m.breakpoint-sm-360() {
    margin-bottom: 7rem;
  }

  @include m.breakpoint-lg() {
    position: relative;
    margin-bottom: 0;
    height: initial;
    background-image: url(../img/bg-main-desktop.webp);
    background-position-x: left;
  }
}

.right-column {
  @include m.breakpoint-lg() {
    display: flex;
    align-items: center;
  }

  &--thank-you {
    @include m.breakpoint-lg() {
      justify-content: center;
    }
  }
}
