/*------------------------------------------------------------------
[Table of contents]
    1. Colors
        1.1 Primary
        1.2 Neutral
        1.3 Forms
        1.4 Buttons
        1.5 Footer
        1.6 Black and white
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
1. Colors
    1.1 Primary
*/

// Active input border
$linear-gradient-start:             hsl(249, 99%, 64%);
$linear-gradient-end:               hsl(278, 94%, 30%);

// Input errors
$red:                               hsl(0, 100%, 66%);

/*------------------------------------------------------------------
1. Colors
    1.2 Neutral
*/

$light-grayish-violet:              hsl(270, 3%, 87%);
$dark-grayish-violet:               hsl(279, 6%, 55%);
$very-dark-violet:                  hsl(278, 68%, 11%);

/*------------------------------------------------------------------
1. Colors
    1.3 Forms
*/

$form-placeholder-text-color:       hsl(300, 4%, 82%);

/*------------------------------------------------------------------
1. Colors
    1.4 Buttons
*/

$button-focus-visible-outline:      hsl(306deg 77.83% 48.79%);

/*------------------------------------------------------------------
1. Colors
    1.5 Footer
*/

$footer-link-color:                 hsl(219, 62%, 41%);
$footer-link-visited-color:         hsl(272, 78%, 54%);
$footer-link-hover-color:           $button-focus-visible-outline;
$footer-link-active-color:          hsl(0, 100%, 50%);
$footer-link-focus-visible-color:   $button-focus-visible-outline;

/*------------------------------------------------------------------
1. Colors
    1.6 Black and white
*/

$black:                             hsl(0, 0%, 0%);
$white:                             hsl(0, 0%, 100%);
