@use '../abstracts/mixins' as m;

.cards {
  position: absolute;
  top: 3rem;
  right: 50%;
  transform: translateX(50%);

  @include m.breakpoint-sm-360() {
    right: 2rem;
    transform: translateX(0);
  }

  @include m.breakpoint-sm-400() {
    right: initial;
    left: 50%;
    transform: translateX(-50%);
  }

  @include m.breakpoint-lg() {
    top: calc(50% + 4rem);
    right: 0;
    left: initial;
    display: flex;
    flex-direction: column-reverse;
    transform: translateY(-50%);
  }
}
